{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
          inline-label
        >
          <q-tab
            name="bech32"
            icon="qr_code"
            label="bech32"
          ></q-tab>
          <q-tab
            name="lud17"
            icon="link"
            label="url (lud17)"
          ></q-tab>
        </q-tabs>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <div class="text-center">
          <a class="text-secondary" href="lnurl">
            <lnbits-qrcode :value="lnurl"></lnbits-qrcode>
          </a>
        </div>
        <div class="row q-mt-lg q-gutter-sm">
          <q-btn outline color="grey" @click="copyText(lnurl)"
            >Copy LNURL</q-btn
          >
          <q-btn
            outline
            color="grey"
            icon="nfc"
            @click="writeNfcTag(lnurl)"
            :disable="nfcTagWriting"
          ></q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-mb-sm q-mt-none">LNbits LNURL-pay link</h6>
        <p class="q-my-none">Use an LNURL compatible bitcoin wallet to pay.</p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "lnurlp/_lnurl.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [window.windowMixin],
    data() {
        return {
            tab: 'bech32',
            url: window.location.origin + '/lnurlp/api/v1/lnurl/{{ link_id }}',
            lnurl: '',
        }
    },
    methods: {
        setBech32() {
            const bytes = new TextEncoder().encode(this.url);
            const bech32 = NostrTools.nip19.encodeBytes("lnurl", bytes)
            this.lnurl = `lightning:${bech32.toUpperCase()}`;
        },
    },
    watch: {
        tab(value) {
            if (value == 'bech32') {
                this.setBech32();
            } else if (value == 'lud17') {
                this.lnurl = this.url.replace('https://', 'lnurlp://')
            }
        },
    },
    created() {
        this.setBech32();
    },
  })
</script>
{% endblock %}
