{% extends "print.html" %} {% block page %}
<div class="row justify-center">
  <div class="qr">
    <lnbits-qrcode :value="lnurl"></lnbits-qrcode>
  </div>
</div>
{% endblock %} {% block styles %}
<style>
  .qr {
    margin: auto;
  }
</style>
{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    created() {
      const url = window.location.origin + '/lnurlp/{{ link_id }}'
      const bytes = new TextEncoder().encode(url)
      const bech32 = NostrTools.nip19.encodeBytes('lnurl', bytes)
      this.lnurl = `lightning:${bech32.toUpperCase()}`
      window.print()
    },
    data() {
      return {
        width: window.innerWidth * 0.5
      }
    }
  })
</script>
{% endblock %}
